<?xml version="1.0"?>
<!--
/**
 * Yireo EmailTester for Magento 
 *
 * @package     Yireo_EmailTester
 * @author      Yireo (http://www.yireo.com/)
 * @copyright   Copyright (c) 2014 Yireo (http://www.yireo.com/)
 * @license     Open Software License
 */
-->
<config>
    <tabs>
        <yireo translate="label" module="producttemplates">
            <label>Yireo</label>
            <sort_order>900</sort_order>
        </yireo>
    </tabs>
    <sections>
        <!--
        <producttemplates translate="label" module="producttemplates">
            <label>Product Templates</label>
            <tab>yireo</tab>
            <frontend_type>text</frontend_type>
            <sort_order>900</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    </fields>
                </settings>
            </groups>
        </producttemplates>
        -->
    </sections>
</config>
